$gutter: 24px;
$max-card-height: 26.25em;
$bez: cubic-bezier(.22, .61, .36, 1);
$light-grey:  #f2f2f2;
$red: #ae0000;
$border-gap: 2px;
$cell-inner-pad: 21px;

body{
	font-family: "Muli";
}
#lp{
	color: #280606;
	.container{
		max-width: 1260px;
	}
}
.hero{
	background: url('./img/Hero.png');
	min-height: 500px;
	display: flex;
	h1{
		font-size: 66px;
		margin-top: 10vh;
	}
}
.info-table{
		background: $light-grey;
		height: 100%;
}
.table{
	font-size: 17px;
	color:#5d4b6c;
	line-height: 1.47;
	margin-bottom: 114px;
	[check]{
		display: flex;
		justify-content: center;
		align-items: center;
		&:after{
			content: url(./img/check.png);
			display: inline-block;
		}

	}

	// Table cards
	thead th{
		margin-top: -150px;
		margin-bottom: 30px;
		&:nth-child(2){
			background: #540505;
		}
		&:nth-child(3){
			background: #7a0000;
		}
		&:nth-child(4){
			background: #ae0000;
		}
		.table-top-card{
			height: 100%;
			p{
				opacity: 0.5;
				margin-bottom: 30px;
				margin-top: 10px;
			}
			h2{
				margin-bottom: auto;
				font-size: 25px;
				line-height: 1.4;
				font-weight: 300;
			}
			.table-btn{
				margin: 50px auto 5%;
				display: flex;
				align-items: center;
				padding: 14px 10px;
				max-width: 175px;
				width: 100%;
				justify-content: center;
				color:$red;
				font-weight: 900;
				background: white;
				text-transform: uppercase;
				border-radius: 5px;
				&:hover{
					text-decoration: none;
					opacity: 0.8;
				}
			}
		}
	}





	tr:not(.title){
		display: flex;
		justify-content: space-between;
		margin: $border-gap auto;
	}

	// Layout & spacing
	tr th:first-of-type,
	th{
		width:26%;
		padding: $cell-inner-pad;
	}
	tr th:first-of-type{
		padding-left: 0;
	}
	th:not(:first-of-type),
	td{
		max-width: 288px;
		width: 24%;
		text-align: center;
		margin-left: $gutter;
		background: white;
	}
	td{
		background: white;
		padding: $cell-inner-pad;
	}
	th{
		font-weight: normal;
	}

	// Titles
	.title{
		position: relative;
		width: 100%;
		th{
			padding: 0!important;
		}
		.title-line{
			width: 100%;
			position: relative;
			height: $border-gap;
			span{
				position: absolute;
				display: flex;
				align-items: center;
				width: 100%;
				font-size: 17px;
				font-weight: bold;
				height: $border-gap;
				color: $red;
				font-weight: bold;
				text-transform: uppercase;

				&:after{
					content: '';
					height:$border-gap;
					width: 100%;
					background: $red;
					margin-left: 68px;
					display: inline-block;
				}
			}
		}
	}
}



.box-grid{
	> div{
		height: 100%;
	}
	.box{
		margin: 100px auto;
		box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
		min-height: 250px;
		height: 100%;
		align-items: center;
		justify-content: center;
		padding: 5% 7%;
		img{
			margin-bottom: 28px;
		 }
		 p{
			 font-size: 20px;
		 }
	}
}

// Brand grid
.brands{
	background: $light-grey;
	padding-top: 120px;
	padding-bottom: 120px;
	h3{
		font-size:45px;
		line-height: 1.22;
		margin-bottom: 100px;
	}
	.brand-grid{
		.brand{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
