
$gutter: 24px;
$max-card-height: 26.25em;
$bez: cubic-bezier(.22, .61, .36, 1);
$light-grey:  #f2f2f2;
$red: #ae0000;
$border-gap: 2px;
$cell-inner-pad: 21px;

$tablet: 991px;

@import './styles/lp-2.scss';
@import './styles/brand-grid.scss';
@import './styles/box-grid.scss';

body{
	font-family: "Muli"!important;
}
#lp-1-v2,
#lp-1{
	.top-container{
		@media (min-width: $tablet){
			margin-top: -250px;
		}
	}
	.hero{
		background-image: url('./img/Hero.png');
		min-height: 300px;
		@media (min-width: $tablet){
			min-height: 500px;
		}
	}
}

#lp-1-v2{
	@media (min-width: 991px){
		.table th:not(:first-of-type), .table td {
			max-width: 400px;
			width: 35%;
		}
	}
}




.landing-page{
	color: #280606;
	.container{
		max-width: 1260px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.table-btn{
		margin: 50px auto 5%;
		display: flex;
		align-items: center;
		padding: 14px 10px;
		max-width: 175px;
		width: 100%;
		justify-content: center;
		color:$red;
		font-weight: 900;
		background: white;
		text-transform: uppercase;
		border-radius: 5px;
		&:hover{
			text-decoration: none;
			opacity: 0.8;
		}
	}
	.hero{
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		h1{
			font-size: 66px;
			margin-top: 10vh;
			margin-bottom: 20px;
			@media (max-width: $tablet){
				font-size:34px;
				line-height: 1.24;
			}
		}
	}
}


.info-table{
		background: $light-grey;
		height: 100%;
}


.table{
	font-size: 14px;
	color:#5d4b6c;
	line-height: 1.79;
	margin-bottom: 40px;
	[notcheck],
	[check]{
		display: flex;
		justify-content: center;
		align-items: center;
		&:after{
			content: url(./img/check.png);
			display: inline-block;
		}
	}
	[notcheck]:after{
		content: url(./img/not-check.png);
	}

	// Table cards
	.table-top-card-row.first .table-item{
		margin-top: -50px;
	}
	.table-item{
		&.num-1{
			background: #540505;
		}
		&.num-2{
			background: #7a0000;
		}
		&.num-3{
			background: #ae0000;
		}
	}
	thead th{

		.table-top-card{
			height: 100%;
			p{
				opacity: 0.5;
				margin-bottom: 30px;
				margin-top: 10px;
			}
			h2{
				margin-bottom: auto;
				font-size: 25px;
				line-height: 1.4;
				font-weight: 300;
			}
		}
	}



	tr:not(.title){
		display: flex;
		justify-content: space-between;
		margin: 0 auto $border-gap ;
	}

	// Layout & spacing
	tr th:first-of-type{
		padding: $cell-inner-pad;
	}
	tr th:first-of-type{
		width: 50%;
		background: white;
	}
	th:not(:first-of-type),
	td{

		width: 50%;
		text-align: center;
		background: white;
	}
	td{
		background: white;
		color: $red;
		font-weight: bold;
		text-align: left;
		padding: $cell-inner-pad;
	}
	th{
		font-weight: normal;
	}

	// Titles
	.title{
		position: relative;
		width: 100%;
		th{
			padding: 0!important;
		}
		.title-line{
			width: 100%;
			position: relative;
			height: 80px;

			span{
				position: absolute;
				display: flex;
				align-items: center;
				width: 100%;
				top: 50%;
				padding: 21px;
				transform: translateY(-50%);
				font-size: 17px;
				color: $red;
				font-weight: bold;
				text-transform: uppercase;

				&:after{
					content: '';
					height:$border-gap;
					width: 100%;
					background: $red;
					margin-left: 15px;
					display: inline-block;
				}
			}
		}
	}
	@media (max-width: $tablet - 1){
		.table-top-card-row th{
			width: 100%!important;
			min-height: 375px;
		}
		[check],
		[notcheck]{
			width: 20%;
			padding-right: 0;
			justify-content: flex-start;
			+ th{
				width: 80%!important;
			}
		}
	}


	@media (min-width: $tablet){
		.table{
			line-height: 1.47;
			margin-bottom: 114px;
			font-size: 17px;
		}
		thead th{
			margin-top: -150px;
			margin-bottom: 30px;
		}
		tr:not(.title){
			margin: $border-gap auto;
		}
		tr th:first-of-type{
			width:26%;
			background: transparent;
			// padding-left: 0;
			padding: $cell-inner-pad;
		}
		th:not(:first-of-type),
		td{
			max-width: 288px;
			width: 24%;
			text-align: center;
			color:#5d4b6c;
			font-weight: normal;
			margin-left: $gutter;
		}
		.title{
			position: relative;
			width: 100%;
			th{
				padding: 0!important;
			}
			.title-line{
				height: $border-gap;
				span{
					height: $border-gap;
					&:after{
						content: '';
						height:$border-gap;
					}
				}
			}
		}
	}
}

.mobile-hide {
	@media(max-width: $tablet - 1) {
		  display: none !important;
	}
}
.desktop-hide {
  @media(min-width: $tablet) {
    display: none;
  }
}
