#lp-2 .intro-p,
#lp-2 .info p {
  font-size: 14px;
  line-height: 1.43;
}
#lp-2 .main-col {
  margin-right: auto;
}
#lp-2 .main-col:last-of-type {
  margin-left: auto;
  max-width: 520px;
}
#lp-2 .main-col:first-of-type {
  padding-right: 5%;
}
#lp-2 .hero {
  background-image: url("./img/hero-1.png");
}
#lp-2 .hero h1 {
  margin-bottom: 5%;
}
#lp-2 .form {
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  padding: 0 50px;
}
#lp-2 .form form {
  align-items: center;
  margin: 10% auto;
  width: 100%;
  max-width: 405px;
}
#lp-2 .form form p {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
}
#lp-2 .form form input:not([type=checkbox]),
#lp-2 .form form select {
  padding-left: 10px;
  font-size: 14px;
  line-height: 2.29;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: solid 1px rgba(199, 199, 199, 0.5);
  margin-top: 34px;
  color: grey;
}
#lp-2 .form form span {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-top: 30px;
  width: 100%;
}
#lp-2 .form form span a {
  color: #ae0000;
}
#lp-2 .form form .table-btn {
  margin-top: 22px;
  max-width: 100%;
  width: 100%;
  color: white;
  background: #ae0000;
}
#lp-2 .quote {
  background: #ae0000;
  color: white;
  padding: 10%;
  font-size: 14px;
  margin-top: 100px;
  position: relative;
}
#lp-2 .quote:after {
  content: "";
  border: solid #7a0000;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 3px;
  width: 54px;
  height: 61px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-bottom-right-radius: 14px;
}
#lp-2 .quote p:not(.name) {
  font-size: 24.5px;
  line-height: 1.27;
}
#lp-2 .quote .name {
  margin-top: 55px;
  text-transform: uppercase;
}
#lp-2 .info-list {
  margin-bottom: 10%;
  margin-top: 10%;
}
#lp-2 .info-list .list-item {
  display: flex;
  margin-top: 7%;
  align-items: end;
}
#lp-2 .info-list .list-item img {
  max-width: 52px;
  margin-right: 26px;
}
#lp-2 .info-list h2 {
  color: #ae0000;
  font-size: 24px;
  line-height: 1.25;
}
#lp-2 .info-list h3 {
  margin-bottom: 14px;
  font-size: 20px;
}
@media (min-width: 991px) {
  #lp-2 .hero {
    min-height: 600px;
  }
  #lp-2 .top-container {
    margin-top: -250px;
  }
  #lp-2 .info-list {
    margin-top: 25%;
  }
  #lp-2 .intro-p,
#lp-2 .info p {
    font-size: 22px;
    line-height: 1.45;
  }
  #lp-2 form p {
    font-size: 25px;
    line-height: 2.2;
  }
  #lp-2 form input:not([type=checkbox]),
#lp-2 form select {
    font-size: 17px;
    line-height: 1.88;
  }
  #lp-2 form span {
    font-size: 14px;
    line-height: 2.29;
  }
  #lp-2 .quote {
    font-size: 17px;
  }
  #lp-2 .quote p:not(.name) {
    font-size: 28px;
    line-height: 1.36;
  }
  #lp-2 .info-list h2 {
    font-size: 45px;
    line-height: 1.22;
  }
  #lp-2 .info-list h3 {
    font-size: 28px;
  }
}

body {
  font-family: "Muli";
}

@media (min-width: 750px) {
  #lp-1 .top-container {
    margin-top: -250px;
  }
}
#lp-1 .hero {
  background-image: url("./img/Hero.png");
  min-height: 500px;
}

.landing-page {
  color: #280606;
}
.landing-page .container {
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
}
.landing-page .table-btn {
  margin: 50px auto 5%;
  display: flex;
  align-items: center;
  padding: 14px 10px;
  max-width: 175px;
  width: 100%;
  justify-content: center;
  color: #ae0000;
  font-weight: 900;
  background: white;
  text-transform: uppercase;
  border-radius: 5px;
}
.landing-page .table-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}
.landing-page .hero {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.landing-page .hero h1 {
  font-size: 66px;
  margin-top: 10vh;
  margin-bottom: 20px;
}
@media (max-width: 750px) {
  .landing-page .hero h1 {
    font-size: 34px;
    line-height: 1.24;
  }
}

.info-table {
  background: #f2f2f2;
  height: 100%;
}

.table {
  font-size: 17px;
  color: #5d4b6c;
  line-height: 1.47;
  margin-bottom: 114px;
}
.table [notcheck],
.table [check] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table [notcheck]:after,
.table [check]:after {
  content: url(./img/check.png);
  display: inline-block;
}
.table [notcheck]:after {
  content: url(./img/not-check.png);
}
.table thead th {
  margin-top: -50px;
}
.table thead th:nth-child(2) {
  background: #540505;
}
.table thead th:nth-child(3) {
  background: #7a0000;
}
.table thead th:nth-child(4) {
  background: #ae0000;
}
.table thead th .table-top-card {
  height: 100%;
}
.table thead th .table-top-card p {
  opacity: 0.5;
  margin-bottom: 30px;
  margin-top: 10px;
}
.table thead th .table-top-card h2 {
  margin-bottom: auto;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 300;
}
.table tr:not(.title) {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2px;
}
.table tr th:first-of-type {
  padding: 21px;
}
.table tr th:first-of-type {
  width: 50%;
  background: white;
}
.table th:not(:first-of-type),
.table td {
  width: 50%;
  text-align: center;
  background: white;
}
.table td {
  background: white;
  color: #ae0000;
  font-weight: bold;
  text-align: left;
  padding: 21px;
}
.table th {
  font-weight: normal;
}
.table .title {
  position: relative;
  width: 100%;
}
.table .title th {
  padding: 0 !important;
}
.table .title .title-line {
  width: 100%;
  position: relative;
  height: 80px;
}
.table .title .title-line span {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  top: 50%;
  padding: 21px;
  transform: translateY(-50%);
  font-size: 17px;
  font-weight: bold;
  color: #ae0000;
  font-weight: bold;
  text-transform: uppercase;
}
.table .title .title-line span:after {
  content: "";
  height: 2px;
  width: 100%;
  background: #ae0000;
  margin-left: 15px;
  display: inline-block;
}
@media (max-width: 749px) {
  .table .table-top-card-row th {
    width: 100%;
    min-height: 375px;
  }
  .table [check],
.table [notcheck] {
    width: 20%;
    padding-right: 0;
    justify-content: flex-start;
  }
  .table [check] + th,
.table [notcheck] + th {
    width: 80% !important;
  }
}
@media (min-width: 750px) {
  .table thead th {
    margin-top: -150px;
    margin-bottom: 30px;
  }
  .table tr:not(.title) {
    margin: 2px auto;
  }
  .table tr th:first-of-type {
    width: 26%;
    background: transparent;
    padding: 21px;
  }
  .table th:not(:first-of-type),
.table td {
    max-width: 288px;
    width: 24%;
    text-align: center;
    color: #5d4b6c;
    font-weight: normal;
    margin-left: 24px;
  }
  .table .title {
    position: relative;
    width: 100%;
  }
  .table .title th {
    padding: 0 !important;
  }
  .table .title .title-line {
    height: 2px;
  }
  .table .title .title-line span {
    font-size: 17px;
    height: 2px;
  }
  .table .title .title-line span:after {
    content: "";
    height: 2px;
  }
}

@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}

.box-grid > div {
  height: 100%;
}
.box-grid .box {
  margin: 100px auto;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
  min-height: 250px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 5% 7%;
}
.box-grid .box img {
  margin-bottom: 28px;
}
.box-grid .box p {
  font-size: 20px;
}

.brands {
  background: #f2f2f2;
  padding-top: 120px;
  padding-bottom: 120px;
}
.brands h3 {
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 100px;
}
.brands .brand-grid .brand {
  display: flex;
  margin-top: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.brands .brand-grid .brand img {
  max-height: 60px;
  max-width: 150px;
}

/*# sourceMappingURL=style.css.map */
