#lp-2{
	// Typeography
	.intro-p,
	.info p{
		font-size: 14px;
		line-height: 1.43;
	}

	.main-col{
		margin-right: auto;
		&:last-of-type{
			margin-left: auto;
			max-width: 520px;
		}
		&:first-of-type{
			padding-right: 5%;
		}
	}
	.hero{
		background-image: url('./img/hero-1.png');
		// min-height: 20vh;
		h1{
			margin-bottom: 5%;
		}
	}

	.form{
		  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
			background: white;
			display: flex;
			padding: 0 50px;
			form{
				align-items: center;
				margin: 10% auto;
				width: 100%;
				max-width: 405px;
				p{
					margin: 0;
					font-size: 24px;
					line-height: 1.25;
				}
				input:not([type='checkbox']),
				select{
					padding-left: 10px;
					font-size: 14px;
					line-height: 2.29;
					width: 100%;
				  height: 45px;
					border-radius: 10px;
					border: solid 1px rgba(199, 199, 199, 0.5);
					margin-top: 34px;
					color: grey;
				}
				span{
					font-size: 12px;
					line-height: 1.5;
					text-align: left;
					margin-top: 30px;
					width: 100%;
					a{
						color: $red;
					}
				}
				.table-btn{
					margin-top: 22px;
					max-width: 100%;
					width: 100%;
					color:white;
					background: $red;
				}
			}
	}

	.quote{
		background: $red;
		color: white;
		padding: 10%;
		font-size: 14px;
		margin-top: 100px;
		position: relative;
		&:after{
			content: "";
			border: solid #7a0000;
			border-width: 0 20px 20px 0;
			display: inline-block;
			padding: 3px;
			width: 54px;
			height: 61px;
			position: absolute;
			bottom: -10px;
			right: -10px;
			border-bottom-right-radius: 14px;
		}
		p:not(.name){
				font-size: 24.5px;
				line-height: 1.27;
		}
		.name{
			margin-top: 55px;
			text-transform: uppercase;
		}
	}

	.info-list{
		margin-bottom: 10%;
		margin-top: 10%;
		.list-item{
			display: flex;
			margin-top: 7%;
			align-items: end;
			img{
				max-width: 52px;
				margin-right: 26px;
			}
		}
		h2{
			color: $red;
			font-size: 24px;
			line-height: 1.25;
		}
		h3{
			margin-bottom: 14px;
			font-size: 20px;
		}
	}


		@media (min-width: $tablet){
			.hero{
				min-height: 600px;
			}
			.top-container{
				margin-top: -250px;
			}
			.info-list{
				margin-top: 25%;
			}
			.intro-p,
			.info p{
				font-size: 22px;
				line-height: 1.45;
			}
			form {
				p{
				font-size: 25px;
				line-height: 2.2;
				}
				input:not([type='checkbox']),
				select{
					font-size: 17px;
					line-height: 1.88;
				}
				span{
					font-size: 14px;
					line-height: 2.29;
				}
			}
			.quote{
				font-size: 17px;
				p:not(.name){
						font-size: 28px;
						line-height: 1.36;
				}
			}

			.info-list{
				h2{
					font-size: 45px;
					line-height: 1.22;
				}
				h3{
					font-size: 28px;
				}
			}
		}
}
